interactions:
- request:
    body: Input=0000X-00-00&Page_Num=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://www.combi-blocks.com/cgi-bin/find.cgi
  response:
    body:
      string: "<!DOCTYPE html>\n<HTML lang=\"en\">\n    <head>\n        <meta charset=\"utf-8\">\n
        \       <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n        <META
        NAME=\"Description\" content=\"Supplier of boronic acids, carboxylic acids,
        imidazoles, thiazoles, azoles, indoles, oxindoles, pyridines, heterocycles,
        bormides, fluoro compounds, amines, aldehydes, isoquinolines, nitro compounds,
        trifluoroborates, and other organics and fine chemicals.\">\n        <META
        NAME=\"Keywords\" content=\"boronic acids, carboxylic acids, imidazoles, thiazoles,
        azoles, indoles, oxindoles, pyridines, heterocycles, bormides, fluoro compounds,
        amines, aldehydes, isoquinolines, nitro compounds, trifluoroborates, combinatorial
        building blocks, organics, fine chemicals.\">\n        <meta name=\"author\"
        content=\"\">\n<TITLE>Combi-Blocks\n        </TITLE>\n        <link rel=\"icon\"
        type=\"image/gif\" href=\"https://www.combi-blocks.com/favicon.gif\">\n        <script
        type=\"text/javascript\">\n        <!--\nfunction submitenter(myfield,e)\n{\n\tvar
        keycode;\n\tif (window.event) keycode = window.event.keyCode;\n\telse if (e)
        keycode = e.which;\n\telse return true;\n\n\tif (keycode == 13)\n   \t{\n
        \  \t\tmyfield.form.submit();\n   \t\treturn false;\n   \t}\n\telse\n   \treturn
        true;\n}\n\n-->\n    </script>\n\n        <style type=\"text/css\">\n            .no_under_line\n
        \           {\n            text-decoration: none;\n            }\n\n</style>\n
        \       <link href=\"//www.combi-blocks.com/css/bootstrap/css/bootstrap.css\"
        rel=\"stylesheet\" type=\"text/css\">\n        <link href=\"//www.combi-blocks.com/css/main.css\"
        rel=\"stylesheet\" type=\"text/css\">\n    </head>\n    <body>\n        <div
        class=\"\" id=\"header\">\n            <a href=\"https://www.combi-blocks.com/\"><img
        src=\"https://www.combi-blocks.com/images/logo.png\" id=\"banner\" /></a>\n
        \           <div id=\"search\">\n              <form class=\"text-center\"
        role=\"search\" id=\"searchbar\" action=\"https://www.combi-blocks.com/cgi-bin/find.cgi\"
        method=\"POST\">\n                  <div class=\"input-group\" id=\"search-form\">\n
        \                     <input type=\"text\" class=\"form-control\" placeholder=\"Search\"
        id=\"search-input\" name=\"Input\">\n                      <span class=\"input-group-btn\"><input
        type=\"submit\" class=\"btn\" value=\"Search\"> </span>\n                  </div>\n
        \             </form>\n            </div>\n        </div>\n        <nav class=\"navbar
        navbar-default\" role=\"navigation\">\n            <div class=\"container-fluid\"
        id=\"nav\">\n                <div class=\"navbar-header\">\n                    <a
        class=\"navbar-brand\" href=\"https://www.combi-blocks.com\"><span class=\"glyphicon
        glyphicon-home\"></span><br></a>\n                </div>\n                <ul
        class=\"nav navbar-nav\" style=\"display: block;\">\n                    <li
        class=\"dropdown\" \"\">\n                        <a class=\"dropdown-toggle\"
        data-toggle=\"dropdown\">Products&nbsp;<b class=\"caret\"></b></a>\n                        <ul
        class=\"dropdown-menu multi-column columns-3\" id=\"product-drop\">\n                            <div
        class=\"row\" \"\">\n                                <div class=\"col-sm-4\"
        \"\">\n                                    <ul class=\"multi-column-dropdown\">\n
        \                                       <li>\n                                            <a
        href=\"https://www.combi-blocks.com/blocks/NC1.htm\">New & Rare (No CAS)</a>\n
        \                                       </li>\n                                        <li>\n
        \                                           <a href=\"https://www.combi-blocks.com/blocks/AL1.htm\">Aldehydes</a>\n
        \                                       </li>\n                                        <li>\n
        \                           [...]
